*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fruits1{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.fruits2{
    display: flex;
}
.fruits2 img{
    height: 55vh;
    width: 25vw;
}