*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pick{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}
.pickk{
    display: flex;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 150px 160px;
    width: 50vw;
}
.third button{
    display: flex;
}
.fourth img{
    width: 50vw;
}
.second h1{
    width: 18vw;
}
.second h5{
    width: 24vw;
}
.tra{
    width: 49.6vw;
}